body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: #383838;
    padding:0;
}

a:hover {
    outline: 0;
    color: darkturquoise;
    text-decoration: none;
}

.navbar-default {
    border-color: transparent;
    background-color: white;
}

.navbar-default .navbar-logo:hover,
.navbar-default .navbar-logo:focus,{
    text-decoration: none; 
}


.navbar-default .navbar-toggle {
    border-color: darkturquoise;
    background-color: darkturquoise;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: darkturquoise;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #383838;
}

.navbar-default .nav li a:hover {
    outline: 0;
    color: darkturquoise;
}


#linkedin, #github, #angellist, #email {
    padding: 5px 5px 0 5px;
    font-size: 40px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: white;
}

.navbar-default.navbar-shrink #linkedin,
.navbar-default.navbar-shrink #github {
    padding-left: 5px;
}

#nav-resume {
    background-color: #bfbfbf;
    border-radius: 5px;
    color: white;
    margin-left: 6px;
}

#nav-resume:hover {
    color: darkturquoise
}

#logo-name{
    height: 1.5em;
    width: auto;
    padding: 0;
    margin: 0;
}

@media(min-width:770px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-logo {
        font-size: 2em;
        width: 10em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 5px 0;
        background-color: rgba(225,225,225,0.85);
    }

    .navbar-default.navbar-shrink .navbar-logo {
        font-size: 1.5em;
    }
}

h1{
    margin: 0;
    margin-bottom: 15px;
    font-size: 4em;
    color:white
}

#about-picture{
    margin-bottom:50px;
}

#about{
    font-size: 15px;
}

br {
    line-height: 40px;
    padding-right: 100px;
}

#signature{
    float: right;
    padding-right: 80px;
}

.page-header {
    margin-top: 1.5em;
    color: #383838
}

.page-header,
li {
    list-style-type: none;
}

.page-header,
.list-heading {
    text-transform: uppercase;
}

.error h1, .error p{
    text-align:center;
}

.error h1{
    font-size:100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.error p{
    font-size:24px;
    margin:15px 0;
  }

 .error a {
    color: darkturquoise; 
 } 

form {
    width: 100%;
}

.main-portfolio {
  margin-bottom: 80px;
}

#about-main img{
   width: 100%;
   height: auto;
   border-radius: 500px;
   padding: 5px;
}

#about-main {
    margin-bottom:20px;
}

#projects-intro {
    width: 100%;
    height: auto;
    margin: 30px auto;
    padding: 15px;
}

#projects-intro h2,
#projects-intro h4 {
    padding: 0;
    margin: 0;
}

#projects-intro h2 {
    margin-bottom: 10px;
    height: auto
}

#projects-intro h4 {
    font-weight: 200;
}

figure{
  position: relative;
  background-size: cover;
  text-align: center;
  margin: 0 5px 10px;
}

figure nav{
  margin: 0;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  color: white;
  opacity: 1;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  transition: 0.6s;
}

figure li {
    margin: 10px;
}

figcaption { 
  position: absolute; 
  color: white; 
  opacity: 0;
  bottom: 0; 
  left: 0;
  transition: all 0.3s ease;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

figure:hover figcaption,
figure:active figcaption {
  opacity: 1;
}

.project-link,
.project-link:focus {
    color: white;
    text-decoration: none;
}

.portfolio-image {
    background-color: #383838;
    width: 100%;
    height: 100%;
}

.built-with, .porfolio-description {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.porfolio-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.indiv-project {
    margin-bottom: 20px;
}

.indiv-project h3{
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.blog {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
}

iframe{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
    margin: 0 auto;
    border: none; 
}

.fa-icon,
#lets-talk {
    color: turquoise;
}

#lets-talk:hover {
    color: darkturquoise;
}

.contact-container {
    width: 70%;
    margin: 0 auto;
}

form {
    margin-bottom: 60px;
}

input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #BEBEBE;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
}

#form-submit {
    float: right;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    background-color: darkturquoise;
}

#form-submit:hover{
    background-color: teal
}

textarea {
    resize: vertical;
}

.fa-paper-plane {
    padding-right: 15px;
}

.contact-other{
    margin-top: 2000px;
    width: 100%;
}

#contact-other-description {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    padding: 0;
}

label {
    color: gray;
    font-size: 30px;
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

.indiv-skill-set h4 {
    background-color: rgba(175, 238, 238,.4);
    border-radius: 5px;
    padding: 3px;
    font-weight: 200;
}

