body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a,
a:hover,{
    outline: 0;
    color: darkturquoise;
    text-decoration: none;
}

.navbar-default {
    border-color: transparent;
    background-color: white;
}

.navbar-default .navbar-logo {
    color: #00ABD1;
    font-weight: 900;
    padding: 0;
}

.navbar-default .navbar-logo:hover,
.navbar-default .navbar-logo:focus,{
    text-decoration: none; 
}


.navbar-default .navbar-toggle {
    border-color: darkturquoise;
    background-color: darkturquoise;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: darkturquoise;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #383838;
}

.navbar-default .nav li a:hover {
    outline: 0;
    color: darkturquoise;
}

.navbar-default .navbar-nav>.active>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: white;
}

#nav-resume {
    background-color: #bfbfbf;
    border-radius: 5px;
    color: white;
    margin-left: 6px;
}

#logo-name{
    height: 1.5em;
    width: auto;
    padding: 0;
    margin: 0;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-logo {
        font-size: 2em;
        width: 10em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 5px 0;
        background-color: rgba(225,225,225,0.85);
    }

    .navbar-default.navbar-shrink .navbar-logo {
        font-size: 1.5em;
    }
}

#about-background {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../images/about.png");
    background-size: cover;
}

#about {
    float: right;
    max-width: 600px;
    min-width: 300px;
    margin: 100px;
    background-color: rgba(105,105,105, 0.9);
    padding: 4rem;
    overflow-y: scroll;
}

h1{
    margin: 0;
    margin-bottom: 15px;
    font-size: 4em;
    color:white
}

#about p{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
}

#about-link{
    display: block;
    color: white;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    transition: .6s background; 
    border: none; 
    margin: 1rem auto;
    text-align: center;
    text-decoration: none;
}

#about-link:hover{
    background:rgba(0,0,0,1);
}

.page-header {
    margin-top: 1.5em;
    text-transform: uppercase;
    color: #383838
}

#technologies-list {
    margin-bottom: 250px;
}

#technologies-list li {
    list-style-type: none;
}

.list-heading {
    text-transform: uppercase;
}

.error h1, .error p{
    text-align:center;
}

.error h1{
    font-size:64px;
  }

 .error p{
    font-size:24px;
    margin:15px 0;
  }

form {
    width: 100%;
}

.portfolio-image {
    background-color: #383838;
    width: 100%;
    height: 100%;
}

.porfolio-description {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    margin-bottom:50px;
}

.blog {
    width: 80%;
    float: right;
    height: 600px;
    margin: auto;
    margin-bottom: 30px;
    border: 3px dashed darkgray;
    padding: 2px;
}

iframe{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
    margin: 0 auto;
}

h3 {
    color: #383838;
}

#fa-icon {
    font-size: 40px;
    padding: 5px;
}