{% extends 'base.html' %} {% block main %}
<div class="container">
  <h1 class="page-header">contact me</h1>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-danger">
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% endwith %}
  <form method="POST" action="http://formspree.io/kaisinli12@gmail.com">
    <input type="email" name="email" placeholder="Your email">
    <textarea name="message" placeholder="Your message"></textarea>
    <button type="submit">Send</button>
  </form>
</div>
{% endblock %}