<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-in-collapse" aria-expanded="false"
                aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-logo page-scroll" href="{{ url_for('home') }}">
                <img src="./static/images/icon.png" />
                <img id = "logo-name" src="./static/images/logoname.png" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-in-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                <li class="">
                    <a href= {{ url_for('portfolio') }} >Portfolio</a>
                </li>
                <li class="">
                    <a href="#blog">Blog</a>
                </li>
                <li class="">
                    <a href= {{ url_for('contact') }}>Contact</a>
                </li>
                <li class="">
                    <a id="nav-resume" href="https://goo.gl/P3RgDt" target="blank">Resume</a>
                </li>
            </ul>
        </div>
    </div>
</nav>