{% extends "base.html" %} {% block main %}
<div class="container">
    <h1 class="page-header">Portfolio</h1>

    <div id="technologies-list">
        <div class="col-xs-12 col-sm-6 col-md-2 gutter-margin-xs-sm gutter-margin-sm-md">
            <ul>
                <li>
                    <h4 class="list-heading">Languages</h4>
                </li>
                <li>JavaScript</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 gutter-margin-xs-sm gutter-margin-sm-md">
            <ul>
                <li>
                    <h4 class="list-heading">Front End</h4>
                </li>
                <li>React/Redux</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>SASS</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 gutter-margin-xs-sm gutter-margin-sm-md">
            <ul>
                <li>
                    <h4 class="list-heading">Database</h4>
                </li>
                <li>Sequelize</li>
                <li>SQLAlchemy</li>
                <li>PostgreSQL</li>
                <li>sqlite</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-2 gutter-margin-xs-sm gutter-margin-sm-md">
            <ul>
                <li>
                    <h4 class="list-heading">Backend/h4>
                </li>
                <li>API</li>
                <li>ExpressJS</li>
                <li>Webpack</li>
                <li>Flask</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-2 gutter-margin-xs-sm gutter-margin-sm-md">
            <ul>
                <li>
                    <h4 class="list-heading">More</h4>
                </li>
                <li>AWS</li>
                <li>Express JS</li>
                <li>OAuth</li>
                <li>Heroku</li>
                <li>Bluebird</li>
                <li>Webhook</li>
            </ul>
        </div>
    </div>
    {% endblock %}